<header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h1 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
    <p class="[ date ]">{{ eventDate }}</p>
    <a href="{{ ctaLink | safe }}" class="[ button ]">{{ cta }}</p>

  </div>
  {% if introImage %}
    <img src="{{ introImage}}"/>
  {% endif %}
</header>